:root {
  --tart_orange: rgba(232, 114, 45);
  --blue: #22223b;
  --green: rgba(131, 206, 228);
  --yellow: rgba(177, 216, 216);
  --terra_cotta: rgba(228, 140, 70);
}


/***** GLOBALs *****/
body{
    margin: 0px;
    min-width: 500px;

}
h1, h2, h3{
  font-family: 'Roboto', sans-serif;
  color: var(--blue);
}
h4, h5{
  font-family: 'Roboto', sans-serif;

  color: var(--blue)
}
.nav-link:hover{
color: var(--terra_cotta) !important;
}
img{
  object-fit: cover;
  border-radius: 10px;
}

strike{
  color: lightgray;
}

.btn:hover{
  background-color: var(--terra_cotta);
  color: #fff;
}
hr{
border: 1px solid var(--tart_orange);
width: 60%;
}





/***** NAV *****/
nav{
background-color: var(--yellow); 
}
.nav-item{
    margin-left: 10px;
}

.logo{
  font-family: 'Festive', cursive;
  font-size: 3rem;
}

/***** FOOTER   *****/

#footer{
  padding: 10% 0 10%;
  background: linear-gradient(var(--green) ,var(--yellow) 20%);
}
#footer h2{
  padding-bottom: 10px;
}
#footer h4{
  color: var(--blue)
}
.social-links{
  padding: 10px;
  color: #000;
}
#footer-links{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%
  
}

#footer-links a :hover{
  color: var(--terra_cotta)
}
.info{
display: flex;
flex-direction: column;
align-content: center;
padding: 0px 50px ;
}


/***** FOOTER STRIP *****/
#footer-strip{
  background-color: var(--yellow);
}
ul{
  padding-top: 15px;
  padding-left: 0;
}
li{
  list-style: none;
  font-size: 18px;
  margin-bottom: 10px;
}

.footer{
  display: flex;
  flex-direction: row;
  
}

#footer-strip{
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
}
#footer-strip a{
  padding-right: 15px;
  color: black;
}
@media only screen and (max-width: 767px){
  #footer-links{
      padding-top: 30px;
      justify-content: center;
  }
}



/***** HEADER *****/

#header {
  min-height: 500px;
  background: linear-gradient(var(--yellow), var(--green)  20%);
}

#header h1 {
  padding-top: 120px;
  padding-bottom: 40px;
  font-size: 2.5rem;
}
#header p {
  margin: 0 20% 20px;
}
#header button{
  min-width: 100px;
    width: 20%;
}
#header a{
  width: 20%;
}






/*************** HOME PAGE ***************/

@media only screen and (max-width: 690){
  #blurb{
    padding-top: 50px;
    margin-top: 50px;
  }
}


/***** FEATURE BLURBS *****/

.blurb-container {
  padding: 20px 30px;
  margin: 10%;
  opacity: 1;
}
.blurb-container.row{
  color: rgba(255, 255, 255, 0.5)
}
.blurb-container img{
  height: 200px;
  width: 300px;
border-radius: 10px;
}

.blurb-left {
  float: left;
  margin-right: 20px;
}
.blurb-right {
  float: right;
  margin-left: 20px;
}

/***** SERVICES *****/

#services {
  padding: 20px 40px;
}
#services h2 {
  margin-bottom: 30px;
}
.service-items{
  padding: 0px 30px;
}
.service {
  padding-bottom: 30px;
}

.service-head {
  margin: 0px 20% 50px;
  padding-top: 50px;
}
#services img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  float: left;
  margin-right: 10px;
}

/***** LATEST UPDATES *****/

#updates {
  padding-bottom: 50px;
}
#updates .card-text{
  color: black
}

#updates h2 {
  margin-bottom: 30px;
}

#updates .card img{
  border-radius: 0;
  height: 200px;
}
.card-img-top{
  height: 200px;
}

.color {
  background-color: blue;
}
.update-card{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

/***** NEWSLETTER *****/

#newsletter {
  display: flex;
  background-color: var(--green);
  /* background: linear-gradient(#fff, var(--green) 20%); */
  padding: 50px 50px;
  justify-content: center;
  align-items: center;
}
#newsletter h2 {
  margin-right: 20px;
}


/*************** ABOUT PAGE ***************/

/***** MISSION *****/
#mission{
  padding: 30px;
}
#mission h2{
  padding-bottom: 15px;
}

#mission-text{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px;
}

.mission-img-top{
width: 100%;
height: 200px;
}
.mission-img-bottom{
width: 100%;
padding-top: 15px;
height: 300px;

}



/***** TEAM *****/

#team {
padding: 1% 10% 10%;


}
.staff-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 35px;
}
.staff-card img{
  height: 150px;
  width: 150px;
border-radius: 100%;
padding-bottom: 15px;
}


/***** CLIENTS *****/
#clients{
  padding-bottom: 30px;
  background-color: var(--green);
}

.top-left{
  width: 100%;
  height: 500px;
}

.top-right{
  width: 100%;
  height: 100%;
}
.top-bottom{
  padding-top: 30px;
}

.top-top-right{
  align-items: center;
  height: 80%;
}
.bottom-top-right{
  height: 100%;
flex: 1;
}
/* #pic-block-left{
  display: flex;
  justify-content: space-between;
  align-items: center;
} */
#pic-block-right{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#pic-block-right img{
height: 250px;
width: 200px;
}

.test{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 990px){
  #pic-block-left{
    justify-content: center;
    align-content: center;
  }

  #pic-block-right{
    display: none;
  }
}




/*************** PRODUCT PAGE ***************/

/***** CLIENTS *****/

.lgraybackground{
  background-color: lightgray;
}

.sale-item-big{
  padding: 30px;
}
.saleH{
  padding: 15px 15px 5px;
}
.saleP{
  padding: 0px 15px;
  color: green;
  font-size: ;
}
.price-strike{
  font-size: 16px;
  color: lightgray;
}

#video p{
  padding: 30px 50px;
}

#video button{
  width: 20%;
}
.card-text{
  color: green;
}

#spotlight{
  background-color: var(--green);
}

.card-text-price{
  color: var(--tart_orange);
}





/*************** CONTACT PAGE ***************/

#contact{
  padding: 20px 30px 20px;
}
#contact h2{
  padding: 30px;
}
#contact p{
  padding: 10px 30px;
}
#contact i{
  margin-right: 20px;
}

/***** FORM *****/
#contact{
  background:linear-gradient(var(--yellow), var(--green) 20%);
}
#contact form{
  padding: 30px;
}
#contact input{
  margin-bottom: 10px;
}


/***** MAP *****/
.map{
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}





/*************** PARALLAX EFFECT ***************/

.parallax-home-one {
  perspective: 8px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  background: url('https://images.unsplash.com/photo-1601758177266-bc599de87707?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8cGV0c3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer--base {
  margin-bottom: 100px;
  transform: translateZ(0);
}
.parallax__layer--back {
  transform: translateZ(-1px);
}
/* #services{
  margin-top: 50px;
} */
/* #last{
  height: 400px;
} */

/* background: url(images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
