
/***** GLOBALs *****/
body{
    margin: 0px;
    min-width: 500px;
}
img{
  object-fit: cover;
}





/***** NAV *****/

.nav-item{
    margin-left: 10px;
}



/***** HEADER *****/

#header {
  height: 500px;
  margin: 0 100px;
}
#header h1 {
  padding-top: 200px;
  padding-bottom: 40px;
}
#header p {
  margin: 0 20% 20px;
}
#header button{
    width: 20%;
}




/*************** HOME PAGE ***************/




/***** FEATURE BLURBS *****/

.blurb-container {
  padding: 20px 30px;
  margin: 10%;
}

.blurb-left {
  float: left;
  margin-right: 20px;
}
.blurb-right {
  float: right;
  margin-left: 20px;
}

/***** SERVICES *****/

#services {
  background-color: lightgray;
  padding: 20px 40px;
}
#services h2 {
  margin-bottom: 30px;
}
.service {
  padding-bottom: 30px;
}

.service-head {
  margin: 20px 20% 50px;
}
#services img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  float: left;
  margin-right: 10px;
}

/***** LATEST UPDATES *****/

#updates {
  padding-bottom: 50px;
}

#updates h2 {
  margin-bottom: 30px;
}

.color {
  background-color: blue;
}
.update-card{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

/***** NEWSLETTER *****/

#newsletter {
  display: flex;
  background-color: lightgray;
  padding: 50px 50px;
  justify-content: center;
  align-items: center;
}
#newsletter h2 {
  margin-right: 20px;
}

/***** FOOTER   *****/

#footer{
    padding: 10% 0 10%;
}
#footer h2{
    padding-bottom: 10px;
}
.social-links{
    padding: 10px;
    color: darkgray
}
#footer-links{
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%
    
}

/***** FOOTER STRIP *****/

ul{
    padding-top: 15px;
    padding-left: 0;
}
li{
    list-style: none;
    font-size: 18px;
    margin-bottom: 10px;
}

.footer{
    display: flex;
    flex-direction: row;
    
}

#footer-strip{
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}
#footer-strip a{
    padding-right: 15px;
    color: black;
}
@media only screen and (max-width: 767px){
    #footer-links{
        padding-top: 30px;
        justify-content: center;
    }
}




/*************** ABOUT PAGE ***************/

/***** MISSION *****/
#mission{
  padding: 30px;
}
#mission h2{
  padding-bottom: 15px;
}

#mission-text{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px;
}

.mission-img-top{
width: 100%;
height: 200px;
}
.mission-img-bottom{
width: 100%;
padding-top: 15px;
height: 300px;

}



/***** TEAM *****/

#team {
padding: 10%;


}
.staff-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 35px;
}
.staff-card img{
  height: 150px;
  width: 150px;
border-radius: 100%;
padding-bottom: 15px;
}


/***** CLIENTS *****/


.top-right{
  width: 100%;
}
.top-bottom{
  padding-top: 30px;
}

.top-top-right{
  height: 80%;
}
.bottom-top-right{
  height: 100%;
flex: 1;
}

.test{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 990px){
  #pic-block-left{
    justify-content: center;
    align-content: center;
  }

  #pic-block-right{
    display: none;
  }
}






